keras==2.15.0
numba==0.58.1
numpy==1.25.2
pandas==1.5.3
pandas-datareader==0.10.0
pandas-gbq==0.19.2
pandas-stubs==1.5.3.230304
scikit-learn==1.2.2
scipy==1.11.4
matplotlib==3.7.1
tensorflow==2.15.0
tensorflow-datasets==4.9.4
tensorflow-estimator==2.15.0
tensorflow-gcs-config==2.15.0
tensorflow-hub==0.16.1
tensorflow-metadata==1.14.0
tensorflow-probability==0.23.0
tensorstore==0.1.45
tf-slim==1.1.0
tf_keras==2.15.1
umap-learn==0.5.5